.formulaire-video{
    padding:2%;
    background-color: #393e46;
    margin-left: 20%;
    margin-right: 20%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #ffd369;
}

.video{
    width: 80%;
    height: 100%;
    margin-left:10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.changement-video{
    padding:2%;
    background-color: #393e46;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #ffd369;
}

h3{
    margin-top: 2%;
    text-align: center;
    color:#f1f1f1;
    font-size: 20px;
}

input{
    margin-left: 20%;
    margin-top: 2%;
    font-size: 1.2vw;
    color:white;
}