img{
    border-radius: 50%;
}

label{
    color:white;
}

input{
    width: 100%;
}

#titrePage{
    color:white;
    text-align: center;
}

#creation_utilisateur{
    margin-left: 45%;
}

#liste{
    background-color:#393e46;
    margin-bottom: 5%;
    margin-top:20px;
    margin-left: 20%;
    width: 60%;
    padding-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#couleurTexteTable{
    color:#eeeeee;
}

.card {
    background-color: #616f80;
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}

/* Bouton bleu d'ajout */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

.bleu {
    background-color: #393e46;
    color: white;
    border: 2px solid #008CBA;
}

.bleu:hover {
    background-color: #008CBA;
    color: white;
}

.bleu_pale{
    widtt: 10%;
    background-color: #52bfe3;
    color: white;
    border: 2px solid #008CBA;
}

.bleu_pale:hover{
    background-color: #008CBA;
    color: white;
}

.rouge{
    widtt: 10%;
    background-color: #bf2222;
    color: white;
    border: 2px solid #eb3d3d;
}

.rouge:hover{
    background-color: #ed0000;
    color: white;
}

/*Pour les modals*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #393e46;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #bfb8b8;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#positionTitreModal{
    margin:auto;
    width: 60%;
    padding: 10px;
}

#flexTitreModal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titreCreationUtilisateurModal{
    text-align: center;
    color:white;
}

.formulairesEtBouton{
    margin-top: 5%;
}

.espaceInputs{
    margin-top: 1%;
}