.formulaire{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 15px;
    width: 50%;
    max-width: 50%;
    background-color:#393e46;
    align-content: center;
    margin: 70px 25%;
}
.textBoxes{
    width: 60%;
    margin: 15px 20%;
    padding: 5px 10px;
    font-size: 18px;
    color: var(--fontNormal);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--fontNormal);
}
.textBoxes:focus {
    outline: none;
    background-color: #40464f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#copyright{
    text-align: center;
    color: var(--fontNormal);
    font-size:1.5vw;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
}
.logo {
    align-self: start;
    height: 100%;
    width: 100px;
    padding: 10px;
}
.prog_name {font-size: 14px;}
.prog_name .cegep {font-size: 12px;}
.logo-container {
    display: flex;
    align-items: center;
    color: var(--fontNormal);
    fill: var(--fontNormal);
    text-transform: uppercase;
}
.submitButton {
    margin: 20px 35%;
    border: none;
    width: 30%;
    color: var(--fontNormal);
    background-color: var(--secondaryLight);
    padding: 8px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s all;
}
.submitButton:hover {
    cursor: pointer;
    outline: none;
    transform: scale(1.02);
}
.submitButton:active {transform: scale(0.98);}
@media screen and (max-width: 800px ) {
    .submitButton {
        margin: 20px 20%;
        width: 60%;
    }
    .textBoxes {
        width: 80%;
        margin: 15px 10%;
        font-size: 14px;
    }
    .formulaire {
        width: 80%;
        max-width: 80%;
        margin: 70px 10%;
    }
}