@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main {
    color: var(--fontNormal);
    font-family: 'Poppins', sans-serif;
}
.card {
    width: 70%;
    margin: 20px 15%;
    border-radius: 5px;
    box-shadow: var(--baseDark) 0 0 6px;
    display: flex;
    flex-direction: row;
}
.card_id {display: none}
.card_date {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 10px;
}
.card_month {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    height: 25%;
}
.card_day {
    font-size: 55px;
    margin: 15px 0;
    text-align: center;
    height: 55%;
}
.card_time {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    margin: 2% 0;
    text-align: center;
}
.card_from, .card_to {
    font-size: 20px;
    color: #d4deff;
    margin: 0 5px;
    text-align: center;
    vertical-align: center;
}
.card_time_link {
    font-size: 15px;
    color: #d4deff;
    text-align: center;
    margin: auto 0;
}
.card_info {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 20px;
    color: var(--base);
}
.card_name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
.card_description {
    padding-left: 5px;
    margin-bottom: 25px;
}
.card_bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card_location {
    font-style: oblique;
    width: 85%;
}
.cap {
    display: flex;
    flex-direction: row;
    width: 15%;
    text-align: right;
    font-size: 30px;
    align-items: center;
}
/*.card_items {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 15%;*/
/*    padding: 5px 10px;*/
/*}*/